@font-face {
    font-family: ProximaNova;
    src: url('/src/assets/Proxima\ Nova\ Font\ 2.otf'),
}

* {
    font-family: 'ProximaNova', sans-serif;
}

label{
    font-size: 14px;
}

.gray {
    color: #AFAFAF;
}

.black {
    color: #000;
}
